    <%- include('./partials/header.ejs')%>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include('./partials/sidebar.ejs',{page_name:'Home'})%>
            </div>
            <!-- 10 sm -->
            <!-- Main Content -->
            <div class="col-sm-10">
                <div class="mt-5">
                    <div class="text-center">
                        <img src="/images/IMG_3070.jpg" alt="" class="img-thumbnail" width="250px" height="150px">
                    </div>
                    <div class="mt-5 text-white mx=5 text-justify">
                        <h1 class="fw-bold st-font">Hello,</h1>
                        <div class="px-4" style="line-height: 2rem;">
                        <p style="text-indent: 100px;"> I am <b class="text-warning">Vinay Tomar</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptates corporis quo facilis sit sapiente voluptatibus accusamus. At molestiae dolor dolorem nulla exercitationem? Iusto, asperiores in Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi molestias est sed quia dolor id debitis quasi totam autem consectetur perspiciatis voluptas itaque, sapiente dolore maxime cupiditate magni minima iusto! ab libero nostrum totam!
                            <b>Full Stack Developer</b>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            <br> Laudantium perspiciatis ex debitis harum natus, delectus iusto vero iure quia sunt commodi, voluptates ad beatae dignissimos accusamus, atque sit minima veritatis.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque omnis cumque totam laudantium impedit fugit distinctio nostrum fugiat, sequi, tempore voluptates minus, dolore quaerat neque similique doloremque reiciendis quia amet?

                        </p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/contact" class="btn btn-outline-warning mx-5 my-3" >Hire Me</a>
                        <a href="/contact" class="btn btn-outline-info" >Contact</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs')%>